# Naver Toxic Data 준비

- Toxic_comment_data
    - https://github.com/songys/Toxic_comment_data
- AwesomeKorean_Data
    - https://github.com/songys/AwesomeKorean_Data
- Awesome-Korean-NLP
    - https://github.com/datanada/Awesome-Korean-NLP

# 1. 환경 설정

In [1]:
%load_ext autoreload
%autoreload 2

In [19]:
import logging
import sys

# 2. 데이터 다운로드
- 훈련 : 9999, 테스트 : 10002 데이타를 가지고 있음

In [26]:
from IPython.display import display as dp
import os
import pandas as pd
import numpy as np
pd.options.display.max_columns = 20
pd.options.display.max_rows = 10
pd.options.display.max_colwidth = 200

In [27]:
data_folder = '../data/naver_toxic_review'

train_file = os.path.join(data_folder, "ko_train_label.csv")
test_file = os.path.join(data_folder, "ko_test_label.csv")


train_df = pd.read_csv(train_file)
train_df.drop_duplicates(inplace=True)
test_df = pd.read_csv(test_file)
test_df.drop_duplicates(inplace=True)

print("train_df shape: ", train_df.shape)
print("test_df shape: ", test_df.shape)

train_df shape:  (9999, 7)
test_df shape:  (10002, 8)

# 3. 훈련 데이터 확인

In [28]:
train_df

,id,document,toxic,obscene,threat,insult,identity_hate
0,9976970,아 더빙.. 진짜 짜증나네요 목소리,1,0,0,0,0
1,9045019,교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정,1,0,0,0,0
2,5403919,막 걸음마 뗀 3세부터 초등학교 1학년생인 8살용영화.ㅋㅋㅋ...별반개도 아까움.,1,0,0,0,0
3,7797314,원작의 긴장감을 제대로 살려내지못했다.,1,0,0,0,0
4,9443947,별 반개도 아깝다 욕나온다 이응경 길용우 연기생활이몇년인지..정말 발로해도 그것보단 낫겟다 납치.감금만반복반복..이드라마는 가족도없다 연기못하는사람만모엿네,1,0,0,0,1
...,...,...,...,...,...,...,...
9994,7448293,혹시나 그래도 카메론디아즈니까 하고봤는데...먼이런영화를..이도저도아닌 .아암튼 시간 남아도보지않길.내용.전개 꽝입니다,1,0,0,0,0
9995,5824024,10점주는것들 한국영화는 1점주네. M창,1,0,0,0,0
9996,6420437,영상도 아름답고 뭘 말하는지 알겠지만 그렇기 때문에 짜증나고 답답하다,1,0,0,0,0
9997,6777278,영화를 왜 영화라고 하는지 모르는 애들이 나왔네.,1,0,0,0,0
9998,9238637,내가 이걸보고 며칠내내 화가났네 별이 아깝 어쩜이리쓰래기가... 내용잡다한거 다섞여서 몬내용인지도모르겠고 모하나 시작하면 끝까지가지도않고 내용똥이라 여주남주 러브스토리라도 볼려니깐 근친이래 아오.... 남주땜 별한개준다 배우들만 멋짐,1,0,0,0,0

In [29]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 0 to 9998
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9999 non-null   int64
 1   document       9999 non-null   object
 2   toxic          9999 non-null   int64
 3   obscene        9999 non-null   int64
 4   threat         9999 non-null   int64
 5   insult         9999 non-null   int64
 6   identity_hate  9999 non-null   int64
dtypes: int64(6), object(1)
memory usage: 624.9+ KB

In [30]:
labels = ['toxic','obscene','threat','insult','identity_hate']
train_df[labels].value_counts()

toxic  obscene  threat  insult  identity_hate
1      0        0       0       0                9507
                                1                 153
                        1       0                 104
                                1                  82
       1        0       0       0                  62
                                                 ...
0      0        1       1       0                   1
1      1        1       0       0                   1
                                1                   1
                        1       0                   1
                                1                   1
Length: 18, dtype: int64

In [31]:
(
    train_df['toxic'].sum() , 
    train_df['obscene'].sum(), 
    train_df['threat'].sum(),
    train_df['insult'].sum(),    
    train_df['identity_hate'].sum(),        
)

(9969, 95, 33, 225, 261)

In [32]:
# train_df[(train_df.toxic == 1) & (train_df.obscene ==1 ) & (train_df.threat ==1 )]
train_df[(train_df.toxic == 1) &  (train_df.threat ==1 )].head()

,id,document,toxic,obscene,threat,insult,identity_hate
18,9440670,리얼리티가 뛰어나긴 한데 큰 공감은 안간다. 이민기캐릭터는 정신의학상 분노조절장애 초기 증상일거다. 툭하면 사람패고 욕하고 물건 파손하고.. 조금 오바였음. 극 초반엔 신선했는데 가면 갈수록 이민기 정신상태 공감불가.,1,0,1,0,0
744,7353539,"18, 동성애는 개뿔, 게.이.색.히.들 다 죽었으면 좋겠다.예수님 도와주세요",1,1,1,0,1
1177,8844045,감독을 마파도로 보내고 싶다.,1,0,1,0,1
2625,9344700,고양이가 생선 한조각 가져갔다고 극단적인 처분을 하고 싶지만 방송이니 돌팔매질한다고 이서진이 지껄이는 것 보고 깜짝 놀랐다 이걸 당당하게 방송한 나영석의 가치관도 똑같다고 본다 당신들은 동물 학대 범죄를 방송에 조장한 인격 장애자들이야 보이콧하겠다,1,0,1,0,1
2853,8381506,작가년 죄를물어 구속시켜야한다은희수 보다 더 죄가 크다 시청자를 기만한 작가는 구속해라 이런 개 허접 쓰레기,1,0,1,1,1

# 4. 테스트 데이터 확인

In [33]:
def clean_test_data(df):
    df_t = df.copy()
    df_t.rename(columns={
                '"toxic"' : 'toxic',
                '"obscene"' : 'obscene',        
                '"threat"' : 'threat',
                '"insult"' : 'insult',        
                '"identity_hate"' : 'identity_hate',                        
                }, 
                inplace=True)
    df_t.drop(columns=['Unnamed: 7'], inplace=True)
    
    df_t = df_t[~df_t.document.isnull()]
    df_t = df_t[~df_t.toxic.isnull()]    
    
    df_t.toxic = df_t.toxic.astype(int)    
    df_t.obscene = df_t.obscene.astype(int)        
    df_t.threat = df_t.threat.astype(int)            
    df_t.insult = df_t.insult.astype(int)                
    df_t.identity_hate = df_t.identity_hate.astype(int)                    
    
    return df_t

test_df= clean_test_data(test_df)

In [34]:
(
    test_df['toxic'].sum() , 
    test_df['obscene'].sum(), 
    test_df['threat'].sum(),
    test_df['insult'].sum(),    
    test_df['identity_hate'].sum(),        
)

(9908, 88, 22, 193, 211)

In [35]:
test_df[(test_df.toxic == 1) &  (test_df.obscene ==1 )].head(10)

,id,document,toxic,obscene,threat,insult,identity_hate
9,6829990.0,나름 교훈돋기는 하지만 어쩔수없이 저평점 받을수밖에 없는 저질섹스코미디,1,1,0,0,0
31,5494222.0,"""""""결혼은 현실이에요 징징징"""" 성현아 벗겨놓고 이 정도 얘기 밖에 못 하냐.""",1,1,0,1,0
71,4409316.0,클럽과 사건의 연결이 전혀안된다. 섹스클럽얘기는 흥미거리일뿐 스토리연관이 없다.,1,1,0,0,0
76,36164.0,노인들의 섹스 외엔 보여줄 게 없는 영화. 영활까?,1,1,0,1,0
92,9652869.0,"요요비치 나옴...발코니에서 아래를 내려다 보는 일행중 한명으로 등장함 상영 1시간 10분쯤 10초 즈음해서..영화는 형편없음. 야하지도 않고,.",1,1,0,1,0
256,9744001.0,이건 영화가 아니라 포르노 수준인데...,1,1,0,0,0
259,8657276.0,"""아주 큰 교훈을 얻었다 """"야한장면을 보고 싶으면 야동을 보라""""""",1,1,0,0,0
348,8845712.0,hell yeah mother fucking jesus crist,1,1,0,1,0
431,1961922.0,장정일님의 원작..... 에로티시즘만 가득;;;,1,1,0,0,0
482,4664543.0,에로용으로도 못 쓰는 영화,1,1,0,0,0

# 5. 데이터 정리 및 저장

## 5.1. 훈련 데이터 및 테스트 데이터 머지

In [36]:
def merge_dataset(train_df, test_df):
    data_df = pd.concat([train_df, test_df])
    data_df.rename(columns={'document' : 'comment_text'}, inplace=True)
    data_df.reset_index(inplace = True)
    return data_df

data_df = merge_dataset(train_df, test_df)

In [37]:
data_df

,index,id,comment_text,toxic,obscene,threat,insult,identity_hate
0,0,9976970.0,아 더빙.. 진짜 짜증나네요 목소리,1,0,0,0,0
1,1,9045019.0,교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정,1,0,0,0,0
2,2,5403919.0,막 걸음마 뗀 3세부터 초등학교 1학년생인 8살용영화.ㅋㅋㅋ...별반개도 아까움.,1,0,0,0,0
3,3,7797314.0,원작의 긴장감을 제대로 살려내지못했다.,1,0,0,0,0
4,4,9443947.0,별 반개도 아깝다 욕나온다 이응경 길용우 연기생활이몇년인지..정말 발로해도 그것보단 낫겟다 납치.감금만반복반복..이드라마는 가족도없다 연기못하는사람만모엿네,1,0,0,0,1
...,...,...,...,...,...,...,...,...
19993,9994,6766192.0,올해 최악의 영화,1,0,0,0,0
19994,9995,3006940.0,"정말재미없게본영화는시간이지난다음 내용,엔딩이잘기억안나는데방탄승도생각안난다..",1,0,0,0,0
19995,9996,3342697.0,내 취향 아닌갑다,1,0,0,0,0
19996,9997,10120473.0,"""여주 """"이들과 함께아니면 안가"""",""""날속이다니 퉤"""",""""내친구를 쐈어"""" 브루스""""헬기돌려""",1,0,0,0,0
19997,9998,5407732.0,빌어먹을파일럿의개인감정으로인류가저렇게되다니스토리가매우실망적이다,1,0,0,0,0

## 5.3. 데이터 세트를 훈련, 테스트로 분리

In [39]:
def split_train_test(data_df, ratio):
    total_len = len(data_df)
    train_size = total_len - int(total_len * ratio)
    test_size = int(total_len * ratio)    
    
    print(total_len)
    print(train_size, test_size, train_size + test_size)
    
    # df = data_df.sample(frac=1.0)
    
    train_df = data_df[0:train_size]
    test_df = data_df[train_size:]
    
    return train_df , test_df
    
tr_df, te_df = split_train_test(data_df, ratio=0.1)    
print("train sahpe: ", tr_df.shape)
print("test sahpe: ", te_df.shape)

19998
17999 1999 19998
train sahpe:  (17999, 8)
test sahpe:  (1999, 8)

In [42]:
(
    tr_df['toxic'].sum() , 
    tr_df['obscene'].sum(), 
    tr_df['threat'].sum(),
    tr_df['insult'].sum(),    
    tr_df['identity_hate'].sum(),        
)

(17889, 167, 52, 391, 430)

In [43]:
(
    te_df['toxic'].sum() , 
    te_df['obscene'].sum(), 
    te_df['threat'].sum(),
    te_df['insult'].sum(),    
    te_df['identity_hate'].sum(),        
)

(1988, 16, 3, 27, 42)

## 5.4. 데이터 저장

In [40]:
def save_dataframe(df, file_path):
    print(f"data frame is saved at {file_path}")
    df.to_csv(file_path, index=False)
    
    return file_path
    
data_folder = 'data'    
dataset = "naver_toxic_review"

os.makedirs(f"{data_folder}/{dataset}", exist_ok=True)

naver_toxic_train_file_path = f"{data_folder}/{dataset}/train.csv"
naver_toxic_test_file_path = f"{data_folder}/{dataset}/test.csv"

save_dataframe(tr_df, naver_toxic_train_file_path)
save_dataframe(te_df, naver_toxic_test_file_path)

data frame is saved at data/naver_toxic_review/train.csv
data frame is saved at data/naver_toxic_review/test.csv

'data/naver_toxic_review/test.csv'

In [41]:
%store naver_toxic_train_file_path
%store naver_toxic_test_file_path

Stored 'naver_toxic_train_file_path' (str)
Stored 'naver_toxic_test_file_path' (str)